@inherits LayoutComponentBase
@using Integration.Client.Extensions
@using Integration.Sdk.Models
@using Microsoft.AspNetCore.Components.Authorization 

@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (user == null)
            {
                <NavLink class="nav-link" href="authentication" Match="NavLinkMatch.All">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Login / Register
                </NavLink>
            }
            else
            {
                <div>
                    <b>@user.LastName, @user.FirstName</b>
                    <text>&nbsp;</text>
                    <i>(@user.UserName)</i>
                    <text>&nbsp;</text>
                    <a href="" @onclick="SignOutOnClick">Sign Out</a>
                </div>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    protected User user = null;

    protected override async void OnInitialized()
    {
        var authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();

        var authenticationUser = authenticationState.User;
        if (authenticationUser.Identity.IsAuthenticated)
        {
            user = authenticationUser.ToUser();
        }
    }

    private void SignOutOnClick(MouseEventArgs e)
    {
        navigationManager.NavigateTo("/");
    }
}
