@page "/authentication"

@using Integration.Client.Components
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]

<div>
    @if (isLogin == true)
    {
        <Login toggleAuth="ToggleAuthOption" />
    }
    else
    {
        <Register toggleAuth="ToggleAuthOption" />
    }
</div>

@code {

    bool isLogin = true;

    public void ToggleAuthOption()
    {
        isLogin = !isLogin;

        StateHasChanged();
    }
}