@using BlazoRx.Core
@using BlazoRx.Demo.Model
@using BlazoRx.Demo.Service
@inject IDataService dataService
@inject IStore<AppState> store
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        if(!store.GetCurrentState().AppInitialized)
            store.Dispatch(state =>
            {
                state.AppInitialized = true;
                state.AllCustomers = dataService.GetCustomers(10);
                state.AllProducts = dataService.GetProducts(8);
                state.AllOrders = dataService.GetOrders(20);

                return state;
            });
    }
}
