@using BlazoRx.Core
@using BlazoRx.Demo.Model
@using BlazoRx.Demo.Service

@inject IDataService dataService
@inject IStore<AppState> store

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazoRx.Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Customers (@customerCount)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orders (@orderCount)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products (@productCount)
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    int customerCount = 0;
    int orderCount = 0;
    int productCount = 0;

    protected override void OnInitialized()
    {
        store.Connect()
          .Subscribe(state =>
          {
              customerCount = state.AllCustomers.Count();
              productCount = state.AllProducts.Count();
              orderCount = state.AllOrders.Count();

              StateHasChanged();
          });
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
