@page "/todo"

<h3>ToDo Application</h3>

<div>
    @foreach (var item in toDoItems)
    {
        <p>@item.Title - @item.Description</p>
    }
</div>

<div>
    <EditForm Model="@newToDoItem" OnValidSubmit="@AddToDoItemAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="title" @bind-Value="newToDoItem.Title" DisplayName="Title" />
        <InputText id="description" @bind-Value="newToDoItem.Description" DisplayName="Description" />

        <button type="submit">Add</button>
    </EditForm>
</div>
