@page "/"

@using BlazorFocused.Store
@using ToDoList.Actions
@using ToDoList.Components 
@using ToDoList.Stores 

@inject IStore<ToDoStore> toDoStore

<h1>ToDo List Sample</h1>

<div class="row top-separation">
    <div class="col-6">
        <AddToDo />
    </div>
    <div class="col-6">
        <ToDoCounter />
    </div>
</div>
<div class="row top-separation">
    <div class="col-6">
        <IncompleteToDo />
    </div>
    <div class="col-6">
        <CompletedToDo />
    </div>
</div>

@code {      

    protected override async Task OnInitializedAsync()
    {
        await toDoStore.DispatchAsync<GetAllToDoAction>();
    }
}
