@using BlazorFocused.Store
@using Samples.Model
@using ToDoListSample.Actions
@using ToDoListSample.Stores

@inject IStore<ToDoStore> toDoStore

<h5>InComplete</h5>

<table cellpadding="10">
    <thead>
        <tr>
            <th>Item</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toDo in incompleteToDoList)
        {
            <tr>
                <td>@toDo.Title</td>
                <td>
                    <button class="btn btn-sm btn-primary btn-block" 
                            type="submit" 
                            @onclick="@(e => CompleteActionAsync(toDo))">
                        Complete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {      

    IEnumerable<ToDo> incompleteToDoList;

    protected override void OnInitialized()
    {
        toDoStore.Subscribe(store =>
        {
            incompleteToDoList = store.InComplete;

            StateHasChanged();
        });
    }

    private async Task CompleteActionAsync(ToDo toDo)
    {
        await toDoStore.DispatchAsync<CompleteToDoAction, ToDo>(toDo);
    }
}
