@page "/customer"

@using BlazoRx.Core
@using BlazoRx.Demo.Model
@using BlazoRx.Demo.Service

@inject IDataService dataService
@inject IStore<AppState> Store

<h1>Customers</h1>

<button class="btn btn-primary" @onclick="AddNewRandomCustomer">Add Random Customer</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in customers)
        {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.Email</td>
        </tr>
        }
    </tbody>
</table>


@code {
    Customer[] customers;

    protected override void OnInitialized()
    {
        Store.Connect<IEnumerable<Customer>>(state => state.AllCustomers)
            .Reduce()
            .Subscribe(allCustomers => customers = allCustomers.ToArray());

    }

   private void AddNewRandomCustomer()
    {
        Store.Dispatch(state => {

            List<Customer> customers = state.AllCustomers.ToList();

            customers.Add(dataService.GetCustomers(1).First());

            state.AllCustomers = customers;

            return state;
        });
    }
}
