@page "/product"

@using BlazoRx.Core
@using BlazoRx.Demo.Model
@using BlazoRx.Demo.Service

@inject IDataService dataService
@inject IStore<AppState> Store

<h1>Products</h1>

<button class="btn btn-primary" @onclick="AddNewRandomProduct">Add Random Product</button>
<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
        </tr>
        }
    </tbody>
</table>


@code {
    Product[] products;

    protected override void OnInitialized()
    {
        Store.Connect<IEnumerable<Product>>(state => state.AllProducts)
            .Reduce()
            .Subscribe(allProducts => products = allProducts.ToArray());

    }

   private void AddNewRandomProduct()
    {
        Store.Dispatch(state => {

            List<Product> productsList = state.AllProducts.ToList();

            productsList.Add(dataService.GetProducts(1).First());

            state.AllProducts = productsList;

            return state;
        });
    }
}
