@using BlazorFocused.Store
@using Samples.Model
@using ToDoList.Actions
@using ToDoList.Stores

@inject IStore<ToDoStore> toDoStore

<h5>Add ToDo Item</h5>

<EditForm class="form-signin" OnValidSubmit="@(e => AddToDoItemAsync(newToDoItem))" Model="@newToDoItem">
    <DataAnnotationsValidator />
    <label for="inputToDoTitle" class="sr-only">New Item</label>
    <InputText type="text" id="inputToDoTitle" class="form-control" @bind-Value="@newToDoItem.Title" autofocus placeholder="Title" />
    <ValidationMessage For="@(() => newToDoItem.Title)" />
    <br />
    <button class="btn btn-sm btn-primary btn-block" type="submit">Add Item</button>
</EditForm>

@code {

    ToDo newToDoItem = new();

    private async Task AddToDoItemAsync(ToDo toDo)
    {
        await toDoStore.DispatchAsync<AddToDoAction, ToDo>(toDo);

        newToDoItem = new();
    }
}

