@page "/"

@using BlazorFocused.Store
@using ToDo.Client.Actions
@using ToDo.Client.Components 
@using ToDo.Client.Stores 

@inject IStore<ToDoStore> toDoStore

<h1>To Do List Sample</h1>

<div class="row top-separation">
    <div class="col-6">
        <AddToDo />
    </div>
    <div class="col-6">
        <ToDoCounter />
    </div>
</div>
<div class="row top-separation">
    <div class="col-6">
        <InCompleteToDoList />
    </div>
    <div class="col-6">
        <CompletedToDoList />
    </div>
</div>

@code {      

    protected override async Task OnInitializedAsync()
    {
        await toDoStore.DispatchAsync<GetAllToDoAction>();
    }
}
